:root{
  --background-color: #ccc;
  background-color: var(--background-color);
  font-size: 120px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.5rem;
  margin: 50px;
  height: 50px;
  font-weight: 900;
}

#board {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;

  background-color: black;
}

#board > button {
  font-size: 1rem;
  border: none;
  background-color: var(--background-color);
}

#replay {
  font-size: 0.3rem;
  position: relative;
  padding: 15px;
  top: 100px;
  display: none;
}