:root{
  --background-color: #ccc;
  background-color: var(--background-color);
  font-size: 80px;
}

body {
  display: flex;
  justify-content: center;
}

#board {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;

  background-color: black;
  position: relative;
  top: 100px;
}

#board > button {
  font-size: 1rem;
  border: none;
  background-color: var(--background-color);
}